/*any element which starts with a '.' / dot is a class in html*/

/*here i am importing fonts from google fonts for the procedure please check my website*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

/*here I am styling the attribute class in this case it is heading*/
.heading {
    margin-top: 60px;
    /*margin is the space outside an element's border, here it is top the element*/
    font-family: Google Sans Code;
    /*font family will chage the font of the text in the element here it is to google sans code*/
}

/*here I am styling the attribute class in this case it is the div 'heading' and inside that specific div the h2 tag, so not all h2 tags
get that property*/
.heading h2 {
    text-align: center;
    /*this property aligns all the text to the center of the element*/
    margin-top: 100px;
    /*margin is the space outside an element's border, here it is top the element*/
    font-size: 40px;
    /*this property changes the font size of text inside the element*/
    font-family: Google Sans Code;
    /*font family will chage the font of the text in the element here it is to google sans code*/
}

/*here I am styling the attribute class in this case it is card_container*/
.card_container {
    text-align: center;
    /*this property aligns all the text to the center of the element*/
}

/*here I am styling the attribute class in this case it is card*/
.card {
    display: inline-block;
    /*display is how the element will behave when displayed, every element will start on the same line and then group into chunks which can be styled easily*/
    width: 30%;
    /*The width property sets how wide an element is.*/
    margin: 60px;
    /*margin is the space outside an element's border*/
    font-family: Google Sans Code;
    /*font family will chage the font of the text in the element here it is to google sans code*/
}


/*here I am styling the attribute class in this case it is the div 'card' and inside that specific div the img tag, so not all img tags
get that property*/
.card img {
    width: 300px;
    /*The width property sets how wide an element is.*/
    height: 300px;
    /*this property makes the element 300 px tall,*/
    object-fit: contain;
    /*as this is a image object fit is how the image will behave, and contain is whatever resolution we have given to the image at the top it will try 
        to make as much space as possible while not streaching, if we remove this the images would strech, this doen't crop the image at all, it will leave some white space*/
}

/*here I am styling the attribute class in this case it is the div 'card' and inside that specific div the h2 tag, so not all h2 tags
get that property*/
.card h2 {
    margin-top: 10px;
    /*margin is the space outside an element's border, here it is top the element*/
    font-family: Google Sans Code;
    /*font family will chage the font of the text in the element here it is to google sans code*/
}

/*here I am styling the attribute class in this case it is the div 'card' and inside that specific div the 'a'' tag, so not all 'a' tags
get that property*/
.card a {
    margin-top: 10px;
    /*margin is the space outside an element's border, here it is top the element*/
    font-size: x-large;
    /*this property changes the font size of text inside the element*/
    color: black;
    /*this property changes the color of text inside the element*/
    font-family: Google Sans Code;
    /*font family will chage the font of the text in the element here it is to google sans code*/
}